/* ===============================
   1200px
=============================== */

@media (max-width:1200px){

    .container{
        width:92%;
    }

    .logo-am,
    .logo-z{
        font-size:40px;
    }

    .logo-expand{
        font-size:25px;
        margin-top:10px;
    }

}

/* ===============================
   992px
=============================== */

@media (max-width:992px){

    .btn{
        width:200px;
        height:50px;
    }

}

/* ===============================
   768px
=============================== */

@media (max-width:768px){

    .header{
        padding:18px 0;
    }

    .nav{
        display:none;
    }

    .logo-am,
    .logo-z{
        font-size:34px;
    }

    .logo-expand{
        font-size:22px;
        margin-top:8px;
    }

    .btn{
        width:180px;
        height:46px;
        font-size:14px;
    }

}

/* ===============================
   480px
=============================== */

@media (max-width:480px){

    .logo-am,
    .logo-z{
        font-size:28px;
    }

    .logo-expand{
        font-size:18px;
        margin-top:6px;
    }

    .btn{
        width:150px;
        height:40px;
        font-size:12px;
    }

}